@import "../../base";

.CategoriesBar {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  display: flex;
  overflow-x: scroll;
  margin-right: 5px;

  &::-webkit-scrollbar {
    width: 0px;
  }
  scrollbar-width: none;

  span {
    margin-right: 0.8rem;
    padding: 0.5rem;
    white-space: nowrap;
    border: 1.5px solid $text-color;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
      background-color: #374a59;
    }

    &.active {
      color: white;
      background-color: #606060;
      border-color: $border-color;
    }
  }
}
